<h1 align="center"> 글 작성하는 페이지</h1>

<form action="/csecretary/write" enctype="multipart/form-data" method="POST" align="center">
    글 제목 : <input type="text" name="title"> <br>
    글쓴이 : <input type="text" name="name"> <br>
    비밀번호 : <input type="password" name="password"> <br>
    내용 : <textarea rows="4" cols="40" name="content"></textarea><br>
    
    <input type="submit" value="등록">
</form>