<div data-role="header">
  <a href="/" class="ui-btn ui-corner-all ui-shadow ui-icon-home ui-btn-icon-left" style="margin: 3px;">홈</a>
  <p style="font-size: 20px; text-align: center; margin-top: 10px"><strong>커뮤니티 게시판</strong><p>
</div>
<form class="form-horizontal" style="margin-left: 6px; margin-right: 6px" method="POST" align="center">
  <input type="password" name="confirm_password" placeholder="해당 게시물의 비밀번호를 입력하세요.">
  <div class="form-group">
    <div class="col-xs-6">
      <button class="ui-btn ui-corner-all ui-shadow ui-icon-home" type="submit">삭제하기</button>
    </div>
    <div class="col-xs-6">
      <a href="/csecretary/relay" class="ui-btn ui-corner-all ui-shadow ui-icon-home">취소하기</a>
    </div>
  </div>
</form>